body{
	background-color: #495057;
	color: #fff;
	width: 100%;
	height: 100%;
	font-family: Book Antiqua;
}
.container {
	border: 1px solid #e9ecef;
	background-color: #e9ecef;
	width: 700px;
	color: #000;
	height: 900px;
}
#header {
	margin-top: 40px;
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 50px;
}
#QRcode {
	text-align: center;
}
#QRcode img {
	width: 500px;
	height: 500px;
}
#depositHeader {
	margin-top: 40px;
	font-size: 2.3em;
	color: #343a40;
}
#depositAddress {
	border: none;
	padding-inline: 0;
	padding-block: 0;
	font-size: 1.5em;
	text-align: center;
	color: #0dcaf0;
	width: 550px;
	margin-left: 50px;
	margin-top: 10px;
}
#writeUp {
	text-align: center;
	margin-top: 30px;
	font-size: 1.3em;
	color: #6c757d;
}
#copyDeposit img {
	width: 25px;
	height: 25px;
	padding-top: 0;
	padding-bottom: 0px;
	margin-bottom: 4px;
}
#copyDeposit {
	border: none;
}
#Paybaylogo img {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: -60px;
	margin-left: 40px;
	background-color: #fff;
}
div#withdraw {
	margin-top: 100px;
	height: 800px;
}
h2#withdrawlHeader {
	margin-top: 40px;
	text-align: center;
	font-weight: 600;
}
#balance {
	border: 1px solid #000;
	text-align: center;
	margin-top: 40px;
	background-color: #fd7e14;
	padding: 10px;
	margin-inline: 60px;
	font-size: 1.2em;
}
label {
	margin-top: 40px;
}
#note {
	margin-top: 30px;
	color: #495057;
	margin-bottom: 40px;
}
#withdrawBtn {
	font-size: 20px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/** media breakpoints **/
/************ xtra xtra lerge device only **************/
@media (min-width: 1400px) {
 
}
/********** xtra large device only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
 

}
/******** large device only ********/ 
@media (min-width: 992px) and (max-width: 1199px) {
	#Paybaylogo {
		width: 70px;
		height: 70px;
		margin-top: 70px;
		margin-left: -35px;
	}
	div#withdraw {
		margin-top: 0;
	}		
}

/******** medium device only *******/
@media (min-width: 768px) and (max-width: 991px) {
		  
} 
/********* small device only *******/
@media (min-width: 576px) and (max-width: 767px) {
#QRcode img {
	width: 400px;
	height: 400px;
}	
#depositHeader {
	font-size: 2em;
}
#depositAddress {
	font-size: 1.4em;
	width: 470px;
	margin-left: 0;
	margin-top: 20px;
}
#writeUp {
	margin-top: 100px;
}
}
/********** xtra small device only *******/
@media (max-width: 575px) {
#QRcode img {
	width: 300px;
	height: 300px;
	}	
#depositHeader {
	font-size: 1.8em;
	}
#depositAddress {
	font-size: 1em;
	width: 300px;
	margin-left: 7px;
	margin-top: 20px;
	}
#writeUp {
	font-size: 1.5em;
	margin-top: 100px;
	padding-left: 10px;
	padding-right: 10px;
	}
.container {
	width: 350px;
	--bs-gutter-x: 0;
	}
	div#withdraw {
		width: 320px;
	}
	#Paybaylogo {
		margin-top: -30px;
		margin-left: -25px;
	}
	h2#withdrawlHeader {
		margin-top: 20px;
	}	
	#balance {
		font-size: 1.1em;
		margin-top: 20px;
	}
	label {
		margin-top: 30px;
	}
	#note {
		font-size:	15px;
		padding: 20px;
		padding-top: 0;
		padding-bottom: 0;
	}
	#withdrawBtn {
		width: 100%;
	}
}

