body {
  width: 100%;
  height: 100%;
}
div#nav.nav {
  margin-bottom: 30px;
}
#emailHelp {
  color: #fff;
}
.login-box {
  position: relative;
  margin-top: 25%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.8);
  box-shadow: 0 15px 25px rgba(0,0,0,.9);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #6f42c1;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #6f42c1,
              0 0 25px #6f42c1,
              0 0 50px #6f42c1,
              0 0 100px #6f42c1;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #6f42c1);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #6f42c1);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #6f42c1);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #6f42c1);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

span#forgotten a {
  padding: 0;
  font-size: 1em;
  text-transform: none;
  letter-spacing: 1px;
  margin-top: 0;
}
p#notMember {
  font-size: 1.2em;
  margin-left: 15px;
}
a#signUp1 {
  padding-bottom: 0;
}
footer {
  position: relative;
}
/********** xtra large device only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
    /*log in*/
  .login-box {
    margin-top: 35%;
  }
}
/******** large device only ********/ 
@media (min-width: 992px) and (max-width: 1199px) {
  img#logo {
    width: 120px;
    height: 120px;
  }
    /*log in*/
  .login-box {
  margin-top: 25%;
  }
  div a#faq {
    top: 40%;
  }
}

/******** medium device only *******/
@media (min-width: 768px) and (max-width: 991px) {
  img#logo {
    width: 120px;
    height: 120px;
  }
    /*log in*/
  .login-box {
  margin-top: 40%;
  }
  div a#faq {
    top: 40%;
  }
} 
/********* small device only *******/
@media (min-width: 576px) and (max-width: 767px) {
  img#logo {
    width: 100px;
    height: 100px;
  }
    /*log in*/
  .login-box {
  margin-top: 54%;
  }
  div a#faq {
    top: 40%;
    left: 56vw;
  }
}
/********** xtra small device only *******/
@media (max-width: 575px) {
  /*log in*/
  .login-box {
  margin-top: 110vw;
  left: 45%;
  width: 85vw;
  padding: 40px;
  }
  .login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  }
  .login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
    padding: 10px 0;
    font-size: 15px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  }
  span#forgotten a {
      padding: 0;
      font-size: 0.9em;
      text-transform: none;
      letter-spacing: 1px;
      margin-top: 0;
  }
  p#notMember {
    margin-top: 20px;
    font-size: 1em;
    margin-left: 15px;
    margin-bottom: 0;
  }
}