body {
	width: 100%;
	height: 100%;
	background-image: url("../pictures/homePagePic1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: Book Antiqua;
}

/*navigation*/
/*logo*/
img#logo {
	left: 0;
	margin-top: 0;
	top: 20px;
	width: 150px;
	height: 150px;
}
/*faq*/
div a#faq {
	position: relative;
	top: 80px;
	left: 81vw;
	text-decoration: none;
	color: #fff;
	font-size: 1.8em;
	margin-right: 50px;
	margin-top: 20px;
	border: solid 1px #fff;
	letter-spacing: 1.8px;
	padding: 15px;
	border-radius: 1.5em;
}
div a#faq:hover {
	color: #6f42c1;
	background-color: #fff;
}
/*end of navigation/faq*/

/*start of main content*/
/*holding hands*/
div img {
	position: relative;
	left: 48%;
	top: 100px;
	width: 47vw;
}
/*end of holding hands*/
/*write up*/
div#write-up {
	margin-left: 11vw;
	font-weight: 600;
	position: relative;
	bottom: 30vw;
	cursor: default;
}
/*Get started write-up*/
div#write-up h2 {
	font-weight: 700;
	font-size: 70px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #ffc107;
}
/*comapany's name*/
div#write-up h1 {
	font-weight: 800;
	font-size: 70px;
	text-shadow: 1px 1px 1px  #dc3545;
}
/*more than just a community*/
div#write-up h3 {
	font-weight: 550;
	font-size: 50px;
}
/*little about us*/
div#write-up p {
	font-size: 25px;
	margin-bottom: 30px;
}
/*logins and sign ups*/
div#links {
	margin-top: 5px;
}
div#links a{
	font-size: 1.5em;
	text-decoration: none;
	border: solid 2px #fff;
	color: #fff;
	letter-spacing: 1px;
	padding: 15px;
	border-radius: 0.5em;
	margin-top: 5px;
	animation-name: fixedmove;
	animation-duration: 5s;
}
@keyframes fixedmove {
	from {left: 0px;}
	to {left: 100px;}
}
div#links a:hover{
	background: #fff;
	color: #6f42c1;
}
/*end of logins and sign ups*/
/*end of write up/ main content*/

/*footer*/
/*socials*/
#socials {
	position: relative;
	margin-top: 0;
	left: 0;
	margin-inline: 10px;
}
#socials img {
	left: 0;
	top: 0;
	width: 60px;
	height: 60px;
}
#socials img:hover {
	background-color: #6f42c1; 
}
/*end of socials*/
/*copyright*/
#copyright {
	font-size: 1.3em;
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 20px;
	cursor: default;
} 
/*end of copyright*/


/** media breakpoints **/
/************ xtra xtra lerge device only **************/
@media (min-width: 1400px) {


}


/********** xtra large device only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
	/*faq*/
	div a#faq {
	left: 70vw;
	}
	/* hoding hands image*/
	div img {
	position: relative;
	left: 56%;
	top: 100px;
	width: 43vw;
	} 
	/*write up*/
	div#write-up {
		margin-left: 10vw;
	}
	/*Get started write-up*/
	div#write-up h2 {
		font-size: 50px;
	}
	/*comapany's name*/
	div#write-up h1 {
		font-size: 55px;
	}
	/*more than just a community*/
	div#write-up h3 {
		font-size: 40px;
	}
	/*little about us*/
	div#write-up p {
		font-size: 23px;
	}
	/*logins and sign ups*/
	div#links a{
		font-size: 1.2em;
	}
  
}

/******** large device only ********/ 
@media (min-width: 992px) and (max-width: 1199px) {
	html {
		height: 140%;
	}
/*faq*/
	div a#faq {
	left: 70vw;
	}
	/* hoding hands image*/
	div img {
		position: relative;
		left: 56%;
		top: 100px;
		width: 43vw;
	} 
	/*write up*/
	div#write-up {
		margin-left: 5vw;
	}
	/*Get started write-up*/
	div#write-up h2 {
		font-size: 50px;
	}
	/*comapany's name*/
	div#write-up h1 {
		font-size: 55px;
	}
	/*more than just a community*/
	div#write-up h3 {
		font-size: 40px;
	}
	/*little about us*/
	div#write-up p {
		font-size: 23px;
	}
	/*logins and sign ups*/
	div#links a{
		font-size: 1.2em;
	}
}

/******** medium device only *******/
@media (min-width: 768px) and (max-width: 991px) {
	/*faq*/
	div a#faq {
	left: 60vw;
	}
	/*write up*/
	div#write-up {
		text-align: center;
		top: 10vw;
		bottom: 0vw;
		margin-left: 10vw;
	}
	/*Get started write-up*/
	div#write-up h2 {
		font-size: 50px;
	}
	/*comapany's name*/
	div#write-up h1 {
		font-size: 55px;
	}
	/*more than just a community*/
	div#write-up h3 {
		font-size: 40px;
	}
	/*little about us*/
	div#write-up p {
		font-size: 23px;
	}
	/*logins and sign ups*/
	div#links a{
		font-size: 1.2em;
	}
	#pic2 img {
		left: 0;
		margin-top: 100px;
		width: 50vw;
		margin-bottom: 150px;
	}

	#socials img {
	left: 0;
	width: 50px;
	height: 50px;
	}
}

/********* small device only *******/
@media (min-width: 576px) and (max-width: 767px) {
	/*faq*/
	div a#faq {
	left: 50vw;
	}
	/*write up*/
	div#write-up {
		margin-left: 20vw;
		bottom: 0;
		margin-right: 50px;
		top: 100px;
	}
	div img {
		margin-top: 0;
	}
	/*Get started write-up*/
	div#write-up h2 {
		font-size: 50px;
	}
	/*comapany's name*/
	div#write-up h1 {
		font-size: 55px;
	}
	/*more than just a community*/
	div#write-up h3 {
		font-size: 40px;
	}
	/*little about us*/
	div#write-up p {
		font-size: 23px;
	}
	/*logins and sign ups*/
	div#links a{
		font-size: 1.2em;
	}
  
	#socials img {
	left: 0;
	width: 50px;
	height: 50px;
	}
	#pic2 img {
		text-align: center;
		left: 0;
		margin-top: 150px;
		width: 50vw;
		margin-bottom: 150px;
	}
}

/********** xtra small device only *******/
@media (max-width: 575px) {
	/*logo*/
	img#logo {
		width: 100px;
		height: 100px;
	}
	/*faq*/
	div a#faq {
		font-size: 22px;
		top: 45px;
		left: 25vw;
	}
	/*write up*/
	div#write-up {
		margin-left: 10px;
		bottom: 0;
		margin-right: 0;
		top: 100px;
	}
	div#write-up h2 {
		font-size: 40px;
	}
	/*comapany's name*/
	div#write-up h1 {
		font-size: 45px;
	}
	/*more than just a community*/
	div#write-up h3 {
		font-size: 30px;
	}
	/*little about us*/
	div#write-up p {
		font-size: 20px;
	}
	/*logins and sign ups*/
	div#links a{
		font-size: 1.2em;
	}
	#pic2 img {
		text-align: center;
		left: 0;
		width: 60vw;
		margin-top: 150px;
		margin-bottom: 200px;
	}

	#socials img {
	left: 0;
	width: 50px;
	height: 50px;
	}
	
}