#totalBalance {
	border: 2px solid #000;	
	width: 500px;
	padding: 20px;
	height: 370px;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 0 0 20px 0 #fff;
	background-color: #fff;
	margin-left: 29%;
}
h3#headingBalance {
	padding-top: 10px;
	text-align: center;
	font-weight: 700;
	cursor: default;
}
span#totalBalanceW {
	font-size: 40px;
	position: relative;
	top: 10px;
	left: 100px;
	font-weight: 800;
}
img#deposit {
	position: relative;
	top: 80px;
	left: 40px;
	border: 2px solid #6f42c1;
	width: 70px;
	height: 70px;
	padding: 5px;
	background-color: #6f42c1;
	border-radius: 45px;
	box-shadow: 0 0 10px 0;
}
div#text1 {
	margin-top: 100px;
	margin-left: 39px;
	font-size: 1.3em;
	cursor: default;
	font-weight: 600;
}
img#withdraw {
	position: relative;
	left: 193px;
	bottom: 123px;
	width: 70px;
	height: 70px;
	border: 2px solid #6f42c1;
	background-color: #6f42c1;
	border-radius: 45px;
	padding: 5px;
	box-shadow: 0 0 10px 0;
}
div#text2 {
	position: relative;
	bottom: 100px;
	left: 185px;
	font-size: 1.3em;
	cursor: default;
	font-weight: 600;
	margin-inline-end: 370px;
}
img#history {
	position: relative;
	bottom: 225px;
	left: 350px;
	width: 70px;
	height: 70px;
	border: 2px solid #6f42c1;
	padding: 5px;
	border-radius: 45px;
	background-color: #6f42c1;
	box-shadow: 0 0 10px 0;
}
div#text3 {
	position: relative;
	bottom: 200px;
	left: 355px;
	font-size: 1.3em;
	cursor: default;
	font-weight: 600;
	margin-inline-end: 370px;
}
div#detailsHeader {
	font-size: 1.7em;
	position: relative;
	text-align: center;
	margin-top: 100px;
	cursor: default;
}
span#breakLine {
	margin-top: 10px;
	border: 5px solid #000;
	margin-bottom: 30px;
}
div#firstLevel1 {
	border: 1px solid #fff;
	height: 200px;
	width: 400px;
	margin-right: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px #000;
	cursor: default;
}
h4#firstLevelHeader {
	font-size: 1.4em;
	margin-top: 30px;
	font-weight: 600;
	text-transform: capitalize;
	cursor: default;
}
span#firstLevel {
	font-size: 1.7em;
	margin-top: 60px;
	float: right;
	font-weight: 600;
	text-shadow: 10px 10px 10px #198754;
	cursor: default;
}
div#secondLevel1 {
	border: 1px solid #fff;
	height: 200px;
	width: 400px;
	margin-right: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px #000;
	cursor: default;
}
h4#secondLevelHeader {
	font-size: 1.4em;
	margin-top: 30px;
	font-weight: 600;
	text-transform: capitalize;
	cursor: default;
}
span#secondLevel {
	font-size: 1.7em;
	margin-top: 60px;
	float: right;
	font-weight: 600;
	text-shadow: 10px 10px 10px #198754;
	cursor: default;
}
div#thirdLevel1 {
	border: 1px solid #fff;
	height: 200px;
	width: 400px;
	margin-right: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px #000;
	cursor: default;
}
h4#thirdLevelHeader {
	font-size: 1.4em;
	margin-top: 30px;
	font-weight: 600;
	text-transform: capitalize;
	cursor: default;	
}
span#thirdLevel {
	font-size: 1.7em;
	margin-top: 90px;
	float: right;
	font-weight: 600;
	text-shadow: 10px 10px 10px #198754;
	cursor: default;	
}
hr {
	margin-top: 100px;
}
[id^="Deposit"] {
	display: none;
}
/** media breakpoints **/
/************ xtra xtra lerge device only **************/
@media (min-width: 1400px) {
 
}
/********** xtra large device only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
	div#firstLevel1 {
		margin-right: 200px;
		margin-left: 50px;
	}	
	div#thirdLevel1 {
		margin-top: 100px;
		margin-left: 350px;
	}

}
/******** large device only ********/ 
@media (min-width: 992px) and (max-width: 1199px) {
	#totalBalance {
		margin-left: 25%;
	}
	div#firstLevel1 {
		margin-left: 50px;
		margin-right: 60px;
	}	
	div#thirdLevel1 {
		margin-top: 50px;
		margin-left: 270px;
	}	
}

/******** medium device only *******/
@media (min-width: 768px) and (max-width: 991px) {
	#totalBalance {
		margin-left: 13%;
	}
	div#firstLevel1 {
		margin-left: 15vw;
	}	
	div#secondLevel1 {
		margin-top: 50px;
		margin-left: 15vw;
	}
	div#thirdLevel1 {
		margin-top: 50px;
		margin-left: 15vw;
	}		

} 
/********* small device only *******/
@media (min-width: 576px) and (max-width: 767px) {
	#totalBalance {
		margin-left: 0%;
	}
	div#firstLevel1 {
		margin-left: 9vw;
	}	
	div#secondLevel1 {
		margin-top: 50px;
		margin-left: 9vw;
	}
	div#thirdLevel1 {
		margin-top: 50px;
		margin-left: 9vw;
	}
}
/********** xtra small device only *******/
@media (max-width: 575px) {
	#totalBalance {
		width: 350px;
		margin-left: 0vw;
		height: 350px;
	}
	span#totalBalanceW {
		font-size: 35px;
		left: 40px;
	}
	img#deposit {
		width: 50px;
		height: 50px;
		left: 8px;
	}
	div#text1 {
		font-size: 1.1em;
		margin-left: 31px;
		margin-inline-start: 5px;
	}
	img#withdraw {
		width: 50px;
		height: 50px;
		bottom: 95px;
		left: 125px;
	}
	div#text2 {
		font-size: 1.1em;
		bottom: 75px;
		left: 110px;	
	}
	img#history {
		width: 50px;
		height: 50px;
		bottom: 172px;
		left: 240px;	
	}
	div#text3 {
		font-size: 1.1em;
		bottom: 152px;
		left: 235px;
	}
	div#firstLevel1 {
		width: 80vw;
		margin-left: 8vw;
		margin-bottom: 30px;
	}
	div#secondLevel1 {
		width: 80vw;
		margin-left: 8vw;
		margin-bottom: 30px;
	}
	div#thirdLevel1 {
		width: 80vw;
		margin-left: 8vw;
		margin-bottom: 30px;
	}
	span#breakLine {
		margin-top: 5px;
		border: 4px solid #000;
	}
}